






h1 {
	font-family: Arial;
}

p {
	font-family: Times;
}



	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	li {
	  float: left;
	}
	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}
	li a:hover {
	  background-color: #111;
	}
	a{
		font-family: Arial;
	}



.logo{
	height: 30%;
}
/* Knapper til downloads*/
.myButton {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #599100;
}
.myButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.myButton:active {
	position:relative;
	top:1px;
}

.eksDown{
  align: center;
  width: 66%;
  text-align: justify;
  margin: auto;
}

/* Downloads column inddeling*/
.column {
float: left;
width: 33.3%
}
.row:after {
content: "";
display: table;
clear: both;
}

p.down{
  margin-left: 35px;
  margin-right: 35px;
}

.ex1 {
	width:95%;
  text-align: justify;
  margin: auto;
}
.ex2{
	width:50%;
  text-align: justify;
  margin: auto;
}
.columnForside {
  float: left;
}
.rowForside:after {
  content: "";
  display: table;
  clear: both;
}
.leftC{
	width:25%;
}
.rightC{
	width:75%;
}



.container {
  position: relative;
  text-align: center;
  color: white;
}



/* Quiz CSS*/
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #0a541d;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: #15a33a;
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
